[galaxy]
server_list = ansible_automation_hub, galaxy

[galaxy_server.ansible_automation_hub]
url=https://console.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3MTY0NzgzNTQsImp0aSI6ImNlZmMxODQwLTNmMjktNDIzOC1hZTI5LTMyMWFmYzkyNDJmNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjprYXNoZWtoYUByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiIxOWVjNmFlNi01NmE0LTQ0YzEtODZmNy02YTg4MzU1YmEzYjAiLCJzZXNzaW9uX3N0YXRlIjoiMjFjOWVmZWYtYjYwMy00OGViLWJkZGUtMGQ5NTc4ZjQ2ZjZjIiwic2NvcGUiOiJvcGVuaWQgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIG9mZmxpbmVfYWNjZXNzIiwic2lkIjoiMjFjOWVmZWYtYjYwMy00OGViLWJkZGUtMGQ5NTc4ZjQ2ZjZjIn0.Y3Y6CGb9vCfoWpGV82ZqDn1SU2JNowmvZvfO5XlQTwOL5IxMgXglBJ2CBWF8EhCAgiO9XIGkPOrMttwvh23HVg
[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
